:root{
    --primary:#FFCC00;
    --secondary:#7E5EFF;
    --font:'Lato', sans-serif;
}

/*

Google Font 
Extra-light 200×AboutServicesClientsContact☰ Lengua Linguini
Lengua Linguini
￼
space en
Extra-light 200 italic
Light 300
Light 300 italic
Regular 400


font-family: 'Gideon Roman', cursive;
font-family: 'Karla', sans-serif;
font-family: 'Lato', sans-serif;*/

/*here i adjust everything to same format*/
/* reset */
body,p,a,ul,li{
    margin: 0;
    padding: 0;
    text-decoration: none;
  }
  li{
    list-style-type: none;
  }

body{
    background-color: var(--primary);
    overflow-x: hidden;
    font-family: var(--font);
    
    
}

.button{
    background: var(--secondary);
    border:2px solid rgb(133, 81, 255);
    color:white;
    padding: 6px 12px;
    border-radius: 20px;
    text-transform: uppercase;
    display: inline-block;
    
}
.button:hover{
    color:white;
    background: rgb(224, 165, 0);
    border:2px solid rgb(133, 81, 255);
}

input,textarea{
    background: white;
    padding: 10px 16px;
    border-radius: 20px;
    border:2px solid var(--secondary);
    color:var(--secondary);
}

label, option{
    color: white;
    font-weight: bold;
}

h1,h2,h3,h4{
    color: white;
    font-weight: normal;
    line-height: 1.4em;
  }
  

  p,a,li{
    color: white;
    line-height: 1.4em;
    font-size: 1em;
  }
  h1, h3{
      padding: 1rem;
    font-size: 3.2em;
  }
  h2{
    font-size: 2.5em;
  }
  h4{
    padding-top: 1rem;
    font-size: 1.1em;
    color: white;
  }
  .leading{
    font-size: 1.1em;
  }
.form-flex{
    display: flex;
    align-items: center;
}

/*mobile styles*/


.grid{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 10px;
    box-sizing: border-box;
  }

.site-nav{
    margin: 0 20px;
    background-color:var(--secondary);
  }

.site-nav h1{
    grid-column: 1/4;
    grid-row: 1;
    padding-bottom: 10px;
    border-bottom: 3px solid var(--primary);
    display: inline-block;
  }

.site-nav ul{
    display: none;
  }

#welcome{
    padding:0 20px 20px 20px;
}
.welcome-text{
    grid-column: 1/6;
}
.welcome-text a{
    margin: 20px 0;
  }
.welcome-img{
    grid-column: 6/9;
    
}
.welcome-img img{
    width: 200%;
  }


  #why{
    background-color: var(--secondary);
    
  }
  #why h3{
    margin-bottom: 0;
    text-align: center;
  }
.projects a{
    grid-column: 1/9;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
}
.projects{
    margin: 20px 0;

  }
  .projects a{
    grid-column: 1/9;
    display: flex;
    margin: 20px 0
  }
 
  .projects a *{
    margin: 0 20px;
    max-width: 80%;
    align-self: center;
  }  
  .projects h4{
    color: var(--primary);
  }
  #about{
    padding: 30px;
    background: var(--primary);
  }
  #about h3{
    text-align: center;
  }
  #about ul{
    margin: 40px 0;
  }
  #about li{
    padding: 10px;
    background: var(--secondary);
    grid-column: span 4;
    text-align: center;

  }
  #about img{
    max-width:90%;
    margin: 10px auto;
  }
  #about p{
    text-align: center;
    margin: 0 20px;
  }
  #contact{
    padding: 30px 20px;
    background:var(--primary);
  }
  #contact h3, #contact p{
    margin-bottom: 0;
    text-align: center;
  }
  #contact form{
    width: 80%;
    max-width: 400px;
    margin: 20px auto;
    text-align: center;
  }
  #contact input,#contact textarea{
    width: 100%;
    margin: 10px 0;
  }
  #contact textarea{
    max-width: 100%;
    height: 200px;
  }
  #contact .button{
    margin-top: 10px;
  }
  footer{
    padding: 30px 20px;
    background-color: var(--secondary);
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: top center;
  }
  footer .copyright{
    grid-column: 1/4;
    font-size: 0.8em;
  }
  footer .social{
    grid-column: 7/9;
    display: flex;
    justify-content: flex-end;
  }
  footer li{
    margin: 0 6px;
  }
  footer img{
    width: 20px;
  }

  .responsive {
    text-align: center;
    width: 100%;
    height: auto;
  }





/*small tablets styles*/

@media screen and (min-width:620px){
    .welcome-text{
        grid-column: 1/5;
      }
      .welcome-img{
        grid-column: 5/9;
      }
      .welcome-img img{
        width: 100%;
      }
      .projects{
        margin-top: 40px;
      }
      .projects a{
        grid-column: span 4;
        display: block;
        margin: 20px 0;
      }
      .projects a:last-child{
        grid-column: 3/7;
      }
      .projects a *{
        margin: 10px;
        max-width: 60%;
        margin: 10px 20%;
      }
      .projects h4{
        text-align: center;
      }
      #about{
        padding: 30px 100px;
      }
      footer{
        background-size: 20%;
      }
    
    }
    

 /*W3SCHOOLS*/
 
 .topnav {
    overflow: hidden;
    background-color:var(--secondary);
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .active {
    background-color: rgb(84, 59, 155);
    color: var(--secondary);
  }
  
  .topnav .icon {
    display: none;
  }
   
  .topnav a:hover{
    background-color: #555;
    color: white;
  }
  
  
  @media screen and (max-width: 600px) {
    .topnav a {
      display: none;    
    }
    .topnav a.icon {
      float: right;
      display: block;
    }
  }

  @media screen and (max-width: 600px) {

    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
      
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
      
    }
    .topnav.responsive {float: none;}
    .topnav.responsive {position: relative;}
    .topnav.responsive {
      display: block;
      width: 100%;
      text-align: left;
      height: 82vh;
    }
  }
  
  
  

/*large tablets & laptop styles*/

@media screen and (min-width:960px){
    body{
        font-size: 18px;
      }
      .grid{
        max-width: 1060px;
        margin: 0 auto;
        width: 100%;
      }
      .leading{
        margin: 20px 0;
      }
      .site-nav{
        padding: 0 20px;
        align-items: center;
        font-size: 1em;
      }
      .site-nav h1{
        grid-column: 1/3;
      }
      .site-nav ul{
        display: flex;
        grid-column: 6/9;
        justify-content: flex-end;
        align-self: center;
      }
      .site-nav li{
        margin-left: 20px;
      }
      .welcome-text{
        grid-column: 1/5;
        align-self: center;
      }
      #welcome{
        padding-bottom: 40px;
      }
      .projects a:nth-child(1){
        grid-column: 2/4;
      }
      .projects a:nth-child(2){
        grid-column: 4/6;
        
      }
      .projects a:nth-child(3){
        grid-column: 6/8;
      }
      .projects a *{
        align-items: center;
        max-width: 100%;
        margin: 30px 10%;
      }
      #about{
        padding: 30px 20px;
      }
      #about ul{
        margin: 40px auto;
      }
      #about li{
        grid-column: span 2;
      }
      #about p{
        max-width: 600px;
        margin: 40px auto;
      }
      footer{
        background-size: 20%;
        padding: 40px 20px;
      }
    
    }


/*desktop styles*/

@media screen and (min-width:1200px){
    body{
        font-size: 20px;
      }
      .site-nav{
        padding: 10px;
        min-width: 100vw;
      }
      #welcome, #why, #about, #contact{
        padding: 60px 0;
      }
      .leading{
        margin: 20px 0;
      }
      .projects a:nth-child(1){
        grid-column: 1/3;
      }
      .projects a:nth-child(2){
        grid-column: 4/6;
        
      }
      .projects a:nth-child(3){
        grid-column: 7/9;
      }
      .projects a *{
        max-height: 100%;
        margin: 30px 0%;
      }
      footer{
        padding: 80px 0;
        background-size: 30%;
      }
      footer .copyright{
        grid-column: 1/4;
      }
      footer .social{
        grid-column: 6/9;
      }
      footer img{
        width: 30px;
      }
    
    }
   
    
/* customized css for result text */
h3 {
  overflow-wrap: break-word;
}







